@using MvcOnlineTicariOtomasyon.Models.Classes;
@model List<MvcOnlineTicariOtomasyon.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Product</h2>
<br />
<table id="tbl1" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Brand </th>
            <th> Stock </th>
            <th> Price </th>
            <th> Sale price </th>
            <th> Status </th>
            <th> Category Id </th>
            <th> Visual </th>
            <th>  </th>
            <th>  </th>

        </tr>
    </thead>
    @foreach (var p in Model)
    {
        <tr>
            <td> @p.ProductID</td>
            <td> @p.ProductName</td>
            <td> @p.Brand</td>
            <td> @p.Stock</td>
            <td> @p.Price</td>
            <td> @p.SalePrice</td>
            <td> @p.Status</td>
            <td> @p.Category.CategoryName</td>
            <td> @p.ProductVisual</td>
            <td>
                <a href="/Product/ProductDelete/@p.ProductID" class="btn btn-danger"> Delete </a>
            </td>
            <td>
                <a href="/Product/ProductList/@p.ProductID" class="btn btn-success"> Update </a>
            </td>
        </tr>
    }
</table>

<a href="/Product/NewProduct/" class="btn btn-info"> Add Product </a>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>
