@using MvcOnlineTicariOtomasyon.Models.Classes

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Product Update</h2>
<br />

@using (Html.BeginForm("ProductUpdate", "Product", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ProductID)

    @Html.LabelFor(x => x.ProductName)
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Brand)
    @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Stock)
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SalePrice)
    @Html.TextBoxFor(x => x.SalePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Category)
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vl1, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(x => x.Status)
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductVisual)
    @Html.TextBoxFor(x => x.ProductVisual, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning" style="color:white"> Update </button>

}
