@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "DepartmentDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Department Detail</h2>
<br />

@*<div style="background-color:greenyellow"></div>*@

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="color:black"> Department Name : @ViewBag.value </li>
</ol>


<br />
<table class="table table-hover">
    <tr>
        <th> Employee ID</th>
        <th> Name </th>
        <th> Surname </th>
        <th> Visual </th>
        <th> Sales </th>
    </tr>
    @foreach(var x in Model)
    {
    <tr>
        <td> @x.EmployeeID </td>
        <td> @x.EmployeeName </td>
        <td> @x.EmployeeSurname </td>
        <td> @x.EmployeeVisual </td>
        <td> <a href="/Department/DepartmentEmployeeSales/@x.EmployeeID" class="btn btn-default" style="background-color:chartreuse"> Sales </a> </td>
    </tr>
    }
</table>
