@model MvcOnlineTicariOtomasyon.Models.Classes.Employee
@{
    ViewBag.Title = "EmployeeBring";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Employee Update</h2>
<br />
@using (Html.BeginForm("EmployeeUpdate", "Employee", FormMethod.Post)) //bu sayfa yüklendikten sonra bir post
                                                                      //işlemi gerçekleştiğine hangi action resoult çalışacağını
                                                                      //belirlemek için.
{
    <div class="form-group">
        @Html.LabelFor(x => x.EmployeeName)
        @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
        @Html.HiddenFor(x => x.EmployeeID)
        @Html.ValidationMessageFor(x => x.EmployeeName, "", new { @class = "text-danger" })
        <br />
        @Html.LabelFor(x => x.EmployeeSurname)
        @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EmployeeSurname, "", new { @class = "text-danger" })
        <br />
        @Html.LabelFor(x => x.EmployeeVisual)
        @Html.TextBoxFor(x => x.EmployeeVisual, new { @class = "form-control" })

        <br />
        @Html.LabelFor(x => x.Department)
        @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.vl1, new { @class = "form-control" })

        <br />

        <button class="btn btn-warning"> Update </button>
    </div>


}
