@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Employee</h2>
<br />
<table id="tbl1" class="table table-striped" style="margin-top:20px">
    <thead class="thead-dark">
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Surname </th>
            <th> Visual </th>
            <th> Depatment </th>
            <th>  </th>
            <th>  </th>


        </tr>
    </thead>
    @foreach (var c in Model)
    {
        //veri sıralama döngüsü.
        //bir döngü oluşturdum. bu döngü c adında bir değişken içeriyor. c modele bağlı ,
        //model kategoriye bağlı ,kategori de controller tarafındaki methoda bağlı

        <tr>
            <td> @c.EmployeeID </td>
            <td> @c.EmployeeName </td>
            <td> @c.EmployeeSurname </td>
            <td>

                <a href="@c.EmployeeVisual" class="d-block photo-item" data-fancybox="gallery">

                    <img src="@c.EmployeeVisual" style="width:100px" />

                    <div class="photo-text-more">

                        <span class="icon icon-search"></span>

                    </div>

                </a>

            </td>
            <td> @c.Department.DepartmentName</td>


            <td> <a href="/Employee/EmployeeBring/@c.EmployeeID" class="btn btn-success"> Update </a></td>
            <td> <a href="/Department/DepartmentEmployeeSales/@c.EmployeeID" class="btn btn-succses" style="background-color:hotpink; color:white"> Detail </a></td>
        </tr>
    }
</table>
<a href="/Employee/EmployeeAdd" class="btn btn-info" style="color:white"> Add Employee  </a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>