@model MvcOnlineTicariOtomasyon.Models.Classes.Bill
@{
    ViewBag.Title = "BillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>New Bill</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.BillsSerialNo)
    @Html.TextBoxFor(x => x.BillsSerialNo, new { @class = "form-control" })

    <br />
    @Html.LabelFor(x => x.BillsNo)
    @Html.TextBoxFor(x => x.BillsNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TaxOffice)
    @Html.TextBoxFor(x => x.TaxOffice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Time)
    @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Deliverer)
    @Html.TextBoxFor(x => x.Deliverer, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Receiver)
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary"> Save </button>
</form>
