@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Bill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2> Bills </h2>


<table id="tbl1" class="table table-striped" style="margin-top:20px">
    <thead class="thead-dark">
        <tr>
            <th> ID </th>
            <th> Bills Serial No  </th>
            <th> Bills No </th>
            <th> Tax Office </th>
            <th> Date </th>
            <th> Time </th>
            <th> Deliverer </th>
            <th> Receiver </th>
            <th> Sum </th>
            <th>  </th>
            <th>  </th>
            <th> New Bill </th>
        </tr>
    </thead>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.BillsID </td>s
            <td>@c.BillsSerialNo </td>
            <td>@c.BillsNo </td>
            <td>@c.TaxOffice </td>
            <td>@c.Date </td>
            <td>@c.Time </td>
            <td>@c.Deliverer </td>
            <td>@c.Receiver </td>
            <td>@c.Sum ₺ </td>
            <td> <a href="/Bill/BillBring/@c.BillsID" class="btn btn-success"> Update </a></td>
            <td> <a href="/Bill/BillDetail/@c.BillsID" class="btn btn-succses" style="background-color:hotpink; color:white"> Detail</a></td>
            <td> <a href="/Bill/BillDetail" class="btn btn-block" style="background-color:thistle; color:white"> Add </a></td>
        </tr>
    }
</table>
<a href="/Bill/BillAdd" class="btn btn-info" style="color:white"> New Bill </a>
<br />
<br />
<buttton typeof="button" class="btn btn-info" style="color:white" data-toggle="modal" data-target="#Modal1"> PopUp  </buttton>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> PopUp Dialog Screen </h5>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td> Serial No </td>
                        <td> Bills No </td>
                        <td> Transaction Amount </td>
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td> @x.BillsSerialNo </td>
                            <td> @x.BillsNo </td>
                            <td> @x.Sum </td>
                        </tr>
                    }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Close </button>

            </div>

        </div>

    </div>
</div>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>
